@charset "utf-8";
body {
    background-color: #74D8E8;
    color: #0F5621;
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    font-size: xx-large;
    line-height: normal;
    text-indent: 3px;
    text-shadow: 7px 5px #F1A3A4;
    text-transform: none;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
h1 {
    color: #000000;
    font-weight: 900;
    font-family: "標楷體", "微軟正黑體", "新細明體", "細明體";
    font-size: 30px;
    font-style: italic;
}
p {
    font-weight: normal;
    font-family: "標楷體", "微軟正黑體", "新細明體", "細明體";
    font-size: 20px;
    line-height: 150%;
}
